<% if comment.favorited_by?(current_customer) %>
  <p>
    <%= link_to item_comment_favorites_path(item.id, comment.id), method: :delete, remote: true do %>
      ♥<%= comment.favorites.count %> いいね
    <% end %>
  </p>
<% else %>
  <p>
    <%= link_to item_comment_favorites_path(item.id, comment.id), method: :post, remote: true do %>
      ♡<%= comment.favorites.count %> いいね
    <% end %>
  </p>
<% end %>