<div class="top-bg-center">
  <div class='container p-4'>
    <div class='row'>
      <div class='col-md-10 mx-auto genre-all about-style'>
        <h1 class="text-center">当サイトについて</h1>
        <h2 class="mt-3">・サイトについて</h2>
        <p>当サイトではグラフ（価格x満足度）を用いた同類商品比較サイトとなっております。<br>
        各商品にコメント機能が設置されており、購入場所や購入価格、満足度を投稿することができます。<br>
        また、当サイトに登録されていない商品があった場合、利用者自身で追加商品登録をすることも可能となっております。<br>
        利用者が増えれば増えるほど商品レビュー・商品比較の精度が上がっていく仕組みとなっております。<br>
        多くのコメントや商品追加をよろしくお願いいたします！</p>
        <h2 class="mt-5 mt-3">・サイトテーマ</h2>
        <p><strong>『本当に求めている物が見つかるサイト』</strong><br>
        毎日のように世の中には新商品が発売されています。ただ、その商品が本当に支払った料金に見合った性能、効果、味、量を有してるか買う前にはほとんどわかりません。<br>
        ましてや現代のネット社会では当該商品を見ることなく、ワンクリックで買ってしまうことが殆どなのですから。<br>
        「高かったのに全然使えない。」「安くて買ったのに1円の価値すらない。」って思うこともしばしばあるでしょう。<br>
        はたまた、「安かったけど性能はとても良かった！」「ちょっと高いけど絶対こっちの方がお得！」なんてことも。<br>
        利用者同士で新規商品追加や登録商品への購入時の価格、満足度を投稿し合い、同類商品でより良いもの・利用者にあったものを見つけていただけるサイトを目指しております。</p>
        <h2 class="mt-5 mb-3">・サイトへのリンク</h2>
        <p>本サイトへのリンクは、原則フリーとなっております。<br>
        但し、リンク元のサイトの内容が、法令や公序良俗に反する場合、また、誤解を与えるような掲載内容に関してはリンクの切除および切除依頼をする場合がございます。<br>
        また本サイトは、予告なしに内容の変更又は削除する場合がありますので、あらかじめご了承ください。</p>
        <h2 class="mt-5 mb-3">・著作権</h2>
        <p>本サイトに掲載されている情報（文章、写真、イラスト等）は著作権の対象となっております。<br>
        「私的利用のための複製」や「引用」など著作権法上認められた場合を除き、無断で使用・引用はできません。</p>
        <h2 class="mt-5 mb-3">・免責事項</h2>
        <p>本サイトに掲載されている情報の内容に関しては細心の注意を払っておりますが、当サイトの情報利用およびアクセスしたために被った損害、損失に対して、いかなる場合でも一切の責任を負いません。</p>
      </div>
    </div>
  </div>
</div>