<div class="customer">
  <div class="container py-5 login-form">
    <div class="row w-50 mx-auto shadow-lg bg-white bg-opacity-50">
      <div class="mt-5">
        <span class="fs-3 offset-md-1 font-monospace login-form"><b>お問い合わせ</b></span>
        <p class="my-3 mx-2">「上位互換」をご利用いただきありがとうございます。不具合やレイアウト崩れ、その他ご意見・ご要望・お問い合わせなどは下記TwitterアカウントのDMまで送っていただけると大変助かります。</p>
        <h2 class="text-center mt-5 mb-5"><b>【@---------------】</b></h2>
      </div>  
    </div>
  </div>
</div>