<div class="wrapper mt-1">
  <div class="column cut1">
    <div class="info">
      <a href="big_fours/9"><h2>日用品</h2></a>
    </div>
  </div>
  <div class="column cut2">
    <div class="info">
      <a href="big_fours/10"><h2>食品・飲料</h2></a>
    </div>
  </div>
</div>

<div class="search">
  <div class="wrap">
    <div class="Box">
      <%= form_with url: search_path, method: :get, local: true do |f| %>
        <%= f.text_field 'search[value]', placeholder: "商品の検索はこちらから", class:"Box-SearchInput" %>
        <%= f.select 'search[how]', options_for_select({ "部分一致" => "partical", "前方一致" => "forward", "後方一致" => "backward", "完全一致" => "match" }) ,{},class:"border" %>
        <%= f.button :type => "submit", style: 'border-style: none; background: none;',class:"Box-Btn" do %>
          <i class="fas fa-search justify-content-center"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="column cut3">
    <div class="info">
      <a href="big_fours/11"><h2>家具・家電</h2></a>
    </div>
  </div>
  <div class="column cut4">
    <div class="info">
      <a href="big_fours/12"><h2>サービス</h2></a>
    </div>
  </div>
</div>