<footer id="footer">
  <ul>
    <li><%= link_to "ホーム", root_path %></li>
    <li><%= link_to "サイトについて", about_path %></li>
    <li><%= link_to "お問い合わせ", info_path %></li>
  </ul>
  <p>Copyright © 2021 Upper-Compatible All Rights Reserved.</p>
</footer>